<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= link_to recipe.name, recipe %></h1>

    <div>
      <dt>Tipo de Cozinha<dt>
      <dd><%= recipe.cuisine.name %></dd>
      <dt>Tipo de Comida<dt>
      <dd><%= recipe.food_type.name %></dd>
      <dt>Tempo de Preparo<dt>
      <dd><%= recipe.cooking_time %></dd>
      <dt>Nível de Dificuldade<dt>
      <dd><%= recipe.level %></dd>
      </div>
  </div>
</div>
