<section>
  <div class="form-group">
    <%= simple_form_for @recipe do |f| %>
      <%= f.input :name, label: 'Nome' %>
      <%= f.input :cuisine_id, collection: @cuisines, prompt: 'Selecione', label_method: :name, value_method: :id, label: 'Cozinha' %>
      <%= f.input :food_type_id, collection: @food_types, prompt: 'Selecione', label_method: :name, value_method: :id, label: 'Tipo' %>
      <%= f.input :serves, label: 'Quantidade de pessoas' %>
      <%= f.input :cooking_time, label: 'Tempo de preparo' %>
      <%= f.input :level, label: 'Nível de dificuldade' %>
      <%= f.input :ingredients, label: 'Ingredientes' %>
      <%= f.input :directions, label: 'Passo a passo' %>
      <%= f.input :photo, as: :file, label: 'Foto' %>
      <%= f.submit 'Cadastrar Receita' %>
    <% end %>
  </div>
  <div class="error">
    <span><%= notice %></span>
  </div>
</section>
