<section>
  <div class="">
    <dl class="">
      <dt>Nome: </dt>
      <dd><%= @recipe.name %></dd>
      <dt>Cozinha: </dt>
      <dd><%= @recipe.cuisine.name %></dd>
      <dt>Tipo de comida: </dt>
      <dd><%= @recipe.food_type.name %></dd>
      <dt>Serve: </dt>
      <dd><%= @recipe.serves %></dd>
      <dt>Tempo de preparo: </dt>
      <dd><%= @recipe.cooking_time %></dd>
      <dt>Nível de dificuldade: </dt>
      <dd><%= @recipe.level %></dd>
      <dt>Ingredientes: </dt>
      <dd><%= @recipe.ingredients %></dd>
      <dt>Passo a passo: </dt>
      <dd><%= @recipe.directions %></dd>
      <%= image_tag @recipe.photo.url(:medium) %>
    </dl>
  </div>
</section>
